# block public access to all files
# add exceptions as needed
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Example to allow access to js/css files in dst folder
    RewriteCond %{REQUEST_FILENAME} !^.*/dst/.*\.(js|css)$

    # 403 forbidden
    RewriteRule ^ - [F,L]
</IfModule>
