.pw-edit-buttons {
  z-index: 99;
}
body:not(.uk-offcanvas-container) .alfred:hover {
  outline: 4px groove #ececec;
  z-index: 1;
}
.alfred-icon {
  pointer-events: all;
  border-radius: 0;
  background-color: white;
  color: black !important;
  text-transform: none;
  border: 3px solid #ececec !important;
  width: 30px !important;
  height: 30px !important;
  display: inline-block;
  text-align: center;
}
.alfred {
  position: relative;
}
.alfred .icons,
.alfred .add-top,
.alfred .add-bottom {
  display: none;
  position: absolute;
  pointer-events: none;
}
.alfred .icons img,
.alfred .add-top img,
.alfred .add-bottom img {
  display: inline-block;
  width: 15px !important;
  height: 30px !important;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
.alfred .icons a.icon,
.alfred .add-top a.icon,
.alfred .add-bottom a.icon {
  pointer-events: all;
  border-radius: 0;
  background-color: white;
  color: black !important;
  text-transform: none;
  border: 3px solid #ececec !important;
  width: 30px !important;
  height: 30px !important;
  display: inline-block;
  text-align: center;
}
.alfred .add-top {
  top: -30px;
  left: 0;
  right: 0;
  text-align: center;
}
.alfred .add-bottom {
  bottom: -30px;
  left: 0;
  right: 0;
  text-align: center;
}
.alfred .icons {
  top: -1px;
  right: 0;
  text-align: right;
}
.alfred.rmx-widget:hover {
  outline: 4px groove orange !important;
}
.alfred.rmx-widget .icon {
  border: 3px solid orange !important;
}
.alfred:hover > .icons {
  display: inline-block;
}
.alfred:hover > .add-top {
  display: inline-block;
}
.alfred:hover > .add-bottom {
  display: inline-block;
}
