// variables
@grey: #ececec;
// we use groove outline style to make the outline visible on every possible bg
@outline: 4px groove @grey;

// pw-frontend-editing tweaks
.pw-edit-buttons {
  z-index: 99;
}

// block hover
.alfred:hover {
  outline: @outline;
}

// the alfred class is added by JS on init()
.alfred {
  position: relative;

  .icons,.add-top,.add-bottom {
    display: none;
    position: absolute;
    height: 30px;
    pointer-events: none;
    img {
      display: inline-block;
      width: 16px !important;
      height: 16px !important;
      padding: 0 !important;
    }
    .icon {
      pointer-events: all;
      border-radius: 0;
      background-color: white;
      color: black !important;
      text-transform: none;
      padding: 7px 10px;
      outline: 3px solid @grey;
      .label {
        transition: max-width 1s ease, color 1s ease;
        display: inline-block;
        color: white;
        margin-left: 5px;
        max-width: 0;
      }
    }
  }

  .add-top {
    top: 6px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .add-bottom {
    bottom: 1px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .icons {
    top: 6px;
    right: 3px;
  }

  &:hover {
    > .icons { display: inline-block; }
    > .add-top { display: inline-block; }
    > .add-bottom { display: inline-block; }
  }
}
