<footer id='footer' class='tmg-box-inner'>
  ## footer.latte ##
  <p class='note'>
    Also see footer.less and try to change it.<br>
    Then reload the browser - the CSS is generated on the fly.
  </p>
</footer>
