<div id='footer' style='padding:40px;border:2px solid green;'>
  ## footer.latte ##
  <p class='note'>
    Also see footer.less and try to change it.<br>
    Then reload the browser - the CSS is generated on the fly.
  </p>
</div>
