<main class='tmg-box-inner'>
  ## main.latte ##

  <p>
    Now try to add ALFRED to this block! Paste this code into the opening main tag in /site/templates/sections/main.latte:
    <pre><code n:syntax="off">{alfred($page)}</code></pre>
    See header.latte for a working example
  </p>
</main>
