<footer {alfred()}>
  <div
    class="
      uk-container uk-background-secondary uk-light
      uk-text-center uk-padding
    "
  >
    ## footer.latte ## &copy;
    <script>document.write(new Date().getFullYear());</script>
  </div>
</footer>
