<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RockFrontend AJAX Debugger</title>
  <link rel="stylesheet" type="text/css" href="{$rockfrontend->paths()->versionUrl('/wire/modules/AdminTheme/AdminThemeUikit/uikit/dist/css/uikit.min.css')}" />
  <script type="text/javascript" src="{$rockfrontend->paths()->versionUrl('/wire/modules/AdminTheme/AdminThemeUikit/uikit/dist/js/uikit.min.js')}"></script>
  {$rockfrontend->liveReloadMarkup()|noescape}
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>
</head>

<body>
  <section class="uk-section-small uk-container">
    <div class="uk-alert">
      <p>Endpoint: <strong>{$endpoint}</strong></p>
    </div>
    <div class="uk-alert">
      <div class="uk-text-bold">Input variables (GET/POST):</div>
      <div class="uk-margin-small uk-background-default">{$input|noescape}</div>
      <div class='uk-text-small'>Note: Use <code>$input->foo</code> to access variables in your endpoint file.</div>
      <div class='uk-text-small'>Note: POST has precedence over GET.</div>
    </div>
    <div class="uk-alert">
      <div class="uk-text-bold">Raw response:</div>
      <div class="uk-margin-small uk-background-default">{$response|noescape}</div>
    </div>
    <div class="uk-alert">
      <div>
        <strong>Formatted response</strong>
        <small>(Content-Type: {$contenttype})</small>
      </div>
      <div class="uk-margin-small uk-background-default">
        <pre class="tracy-dump" style="max-height:500px;">{$formatted}</pre>
      </div>
    </div>

    <div class="uk-alert">
      <div class="uk-text-bold">Send AJAX Request</div>
      <div class="uk-margin-small uk-background-default uk-padding-small">
        <button hx-get="{$ajaxUrl}" hx-target="#hx-response" hx-trigger="click" class="uk-button">
          GET
        </button>
        <button hx-post="{$ajaxUrl}" hx-target="#hx-response" hx-trigger="click" class="uk-button">
          POST
        </button>
        <div class="uk-margin-small-top">
          <div><strong>Payload:</strong></div>
          {var $placeholder = "foo: FOO!\nbar: BAR!\n"}
          <textarea id="hx-payload" class="uk-textarea" placeholder="{$placeholder}">{$textarea}</textarea>
        </div>
        <div class="uk-margin-small-top">
          <strong>Response:</strong>
          <pre class="tracy-dump" id="hx-response">
          </pre>
        </div>
        <div class="uk-text-small uk-text-muted">
        The result of the request will also be logged to your console!<br>
        For advanced debugging please use dedicated tools.
      </div>
      </div>
    </div>
  </section>
  <script>
  document.body.addEventListener('htmx:configRequest', function(evt) {
    const payload = document.getElementById('hx-payload').value;
    if (payload) {
      payload.split('\n').forEach(line => {
        const [key, value] = line.split(':').map(item => item.trim());
        if (key && value) {
          evt.detail.parameters[key] = value;
        }
      });
    }
  });

  document.addEventListener('htmx:afterRequest', function(event) {
    try {
      const response = JSON.parse(event.detail.xhr.response);
      console.log(response);
    } catch (e) {
      console.log(event.detail.xhr.response);
    }
  });
  </script>
</body>

</html>