<footer class="uk-background-secondary uk-light">
  <div class="uk-padding uk-text-center" style="outline: 2px solid white;">
    ## footer.latte ##
    {* output the current year via JS
    this is to make it work with ProCache
    if you don't like that approach just remove it ;)
    see https://bit.ly/3GauLwb *}
    &copy; <script>document.write(new Date().getFullYear());</script>
  </div>
</footer>
