<main {alfred()}>
  <section class="uk-section uk-section-primary uk-light">
    ## main.latte ## Example of a full width section (no padding)
  </section>
  <section class="uk-section uk-section-secondary uk-light">
    <div class="rf-boxed-inner" style="outline: 2px solid white;">
      Example of an inner box section (with padding left and right)
    </div>
  </section>
</main>
