// RockFrontend Toolbar
#rockfrontend-toolbar {
  background-color: #999;

  // add a subtile drop shadow
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

  &.sticky {
    position: sticky;
    top: 0;
    // slightly below pw-modal
    z-index: 980;
  }
}
#toolbar-tools {
  display: flex;
  gap: 1px;
  position: relative;
  overflow-y: auto;
  > * {
    flex-shrink: 0;
    padding: 5px 10px;
    background-color: white;
    &.off {
      opacity: 0.3;
      .visible-on {
        display: inline-block;
      }
      .visible-off {
        display: none;
      }
    }
    &.on {
      .visible-off {
        display: inline-block;
      }
      .visible-on {
        display: none;
      }
    }
  }
  svg {
    height: 20px;
  }
}
#hide-toolbar {
  position: absolute;
  right: 0px;
}
